<div class="row justify-content-center my-3">
  <div class="col-6">
    <form action="/answer">
      <label for="question" class="form-label"><p>Ask your coach anything</p></label>
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </form>
  </div>
</div>
